.jumbotron {
    position: relative;
    background: #000 url("../img/larry.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: 100% 100%, cover;
    overflow: hidden;
    background-repeat: no-repeat;
}



/*
	// heading font
font-family: 'Shadows Into Light', cursive;

	// menu font 
font-family: 'Abel', sans-serif;

*/

body {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
}

.main-full-nav {
	padding: 3em 0 0 0;
	font-family: 'Abel', sans-serif;
	font-size: 1em;
	letter-spacing: .25em;

    
}

.main-full-nav li {
	padding: 0 1em 0 1em;
}

.social-font {
	font-size: 2em;
}

.social-link {
    padding-bottom: 2em;
    width: 25em;
    margin: 0 auto;
}

.social-link li {
	padding: 0 1.25em 1.25em 1.25em;
}

.main-full-nav li,
.social-link li {
	display: inline-block;
}

#name h1 {
    font-family: 'Shadows Into Light', cursive;
	font-size: 12.5em;
    text-align: center;
	margin-top: 1em;
}

a {
    
    color: rgba(255, 255, 255, 0.7);
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    color: white;
}

.active a {
  color: white;
  text-decoration: none;
  font-size: 1.25em;
}

/* Styling for the bio view */



.bio-paragraph {
    height: 30em;
    width: 50em;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 50%;
    transform: translateY(40%);
}

.bio-scroll {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.bio-img {
    background-image: url("../img/timthumb.jpeg");
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: 100%, cover;
    background-position: 0px -430px;
}

.bio-img-two {
    background-image: url("../img/larry.jpg");
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: 100%, cover;
    background-position: 0px -50px; 
}

.bio-paragraph p {
    font-family: 'Abel', sans-serif;
    font-weight: 100;
    font-size: 1.75em;
    /*background-color: black;*/
}

.bio-paragraph h1 {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 9em;
}

.music-player {
    height: 30em;
    width: 50em;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(35%);
    text-align: center;
}


#mce-EMAIL {
    color: black;
}

.shopping-cart {
    width: 75%;
    height: 35em;
    background-color: white; 
    margin: 7em auto;
    color: #919191;
    overflow: hidden;
    text-align: center;
}

.shopping-row {
    margin: 2em;
}

.price {
    margin-top: -1em;
    color: black;
}

.gallery {
    width: 75%;
    height: 35em;
    margin: 7em auto;
    overflow: hidden;
    text-align: center;
}

.email {
     text-align: center;
     font-size: 10em;
     margin-top: 1.5em;
}


@media (max-width: 450px) {
    #name h1 {
        font-size: 9em;
        margin-top: 1.25em;
    }
}

@media (max-width: 720px) {
    .music-player {
        width: 30em;
    }
    
    .bio-paragraph {
        width: 30em;
    }
    
    .bio-paragraph h1 {
        font-size: 5em;
    }
    
    .bio-img {
    
        width: 113%;
        height: 25%;
        background-repeat: no-repeat;
        background-size: 90%, cover;
        background-position: 0px -235px;
    }
    
    .bio-img-two {
    
        width: 100%;
        height: 25%;
        background-repeat: no-repeat;
        background-size: 100%, cover;
        background-position: 0px -45px; 
    }
}

@media (max-width: 420px) {
    .music-player {
        width: 20em;
    }
    
    .bio-paragraph {
        width: 20em;
    }
    
    .bio-paragraph h1 {
        font-size: 3em;
    }
    
    .bio-paragraph p {
        font-size: 1.5em;
    }
    
    .bio-img {
    
        width: 113%;
        height: 20%;
        background-repeat: no-repeat;
        background-size: 90%, cover;
        background-position: 0px -155px;
    }
    
    .bio-img-two {
    
        width: 100%;
        height: 25%;
        background-repeat: no-repeat;
        background-size: 100%, cover;
        background-position: 0px -20px; 
    }
}
