<div class="gallery">
<div class="bio-scroll">
<div class="row">
    <div class="col-md-4 text-right">
        <img src="http://placehold.it/200X200" alt="img-responsive">
    </div>
    <div class="col-md-4 text-center">
        <img src="http://placehold.it/200X200" alt="img-responsive">
    </div>
    <div class="col-md-4 text-left">
        <img src="http://placehold.it/200X200" alt="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        <img src="http://placehold.it/200X200" alt="img-responsive">
    </div>
    <div class="col-md-4 text-center">
        <img src="http://placehold.it/200X200" alt="img-responsive">
    </div>
    <div class="col-md-4 text-left">
        <img src="http://placehold.it/200X200" alt="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        <img src="http://placehold.it/200X200" alt="img-responsive">
    </div>
    <div class="col-md-4 text-center">
        <img src="http://placehold.it/200X200" alt="img-responsive">
    </div>
    <div class="col-md-4 text-left">
        <img src="http://placehold.it/200X200" alt="img-responsive">
    </div>
</div>
</div>
</div>