<div class="shopping-cart">
    <div class="bio-scroll">
    <h2>Products</h2>
    <div class="row shopping-row">
        <div class="col-md-4 text-center">
            <img src="http://placehold.it/300X300" alt="img-responsive">
            <p>Description</p>
            <p class="price">$24.99</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="http://placehold.it/300X300" alt="img-responsive">
            <p>Description</p>
            <p class="price">$24.99</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="http://placehold.it/300X300" alt="img-responsive">
            <p>Description</p>
            <p class="price">$24.99</p>
        </div>
    </div>
     <div class="row shopping-row">
        <div class="col-md-4 text-center">
            <img src="http://placehold.it/300X300" alt="img-responsive">
            <p>Description</p>
            <p class="price">$24.99</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="http://placehold.it/300X300" alt="img-responsive">
            <p>Description</p>
            <p class="price">$24.99</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="http://placehold.it/300X300" alt="img-responsive">
            <p>Description</p>
            <p class="price">$24.99</p>
        </div>
    </div>
    </div>
</div>